body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./personal-blog-images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(243, 241, 227, 0.633);
  font-family: "Cinzel", serif;
}

#blogSection {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 485px;
  padding: 2rem;
  background: rgba(255,255,255,.25);
  backdrop-filter: blur(5px);
  border-radius: 25px;
}

label {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-weight: normal;
  color: #333;
  text-shadow:
  0 0 5px #ff1493,
  0 0 15px #ff69b4;
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

#blogList li {
list-style: none;
  background: rgba(255,255,255,0.75);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(85, 81, 81, 0.74);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-btn {
  background: #ccf916;
  color: black;
}

.delete-btn {
  background: #ff1493;
}
button {
  background: fuchsia;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
    transform: scale(1.05);
}
#title,
textarea {
  width: 100%;
  padding: 12px;
  font-family: "Libre Baskerville", serif;
  background: rgba(255,255,255,.8);
  border: 2px solid #ff69b4;
  border-radius: 10px;
  box-shadow:
  0 0 5px #ff69b4;
}


h3 {
  background-color: hsla(0,0%,100%,0.733);
  margin-top: 28px;
  color: fuchsia;
  text-shadow:
  0 0 5px #ff1493,
  0 0 15px #ff69b4;
  padding: 10px;
  border: 2px solid #3372f039;
  word-wrap: break-word;
}

.content {
  background-color: hsl(0, 0%, 100%);
  padding-left: 12px;
  margin-top: 28px;
}

.timestamp {
  font-size: 12px;
  opacity: .7;
  font-style: italic;
  background-color: hsl(0, 0%, 100%);
  padding-left: 10px;
  margin-top: 28px;
  color: rgb(25, 18, 18);
}
